@using WPP.Domain.Models
@{
    ViewData["Title"] = "Submit File";
}

<div>


</div>
<div class="grid-container">
    <div class="grid-left">
        <label>Validation Policy 1:</label>
        <input type="radio" name="validationpolicy" value="true" asp-action="SetPolicyOne" />        
        <h2>Valid Passwords</h2>
        <h3>Count: @ViewBag.ValidCount</h3>
        <p>
            @foreach (Password validpassword in ViewBag.ValidPasswords)
            {
                @Html.Raw(validpassword.ToFullString());
                @Html.Raw("<br>");
            }
        </p>
    </div>

    <div class="grid-right">
        <label>Validation Policy 2:</label>
        <input type="radio" name="validationpolicy" />        
        <h2>Invalid Passwords</h2>
        <h3>Count: @ViewBag.InvalidCount</h3>
        <p>
            @foreach (Password invalidpassword in ViewBag.InvalidPasswords)
            {
                @Html.Raw(invalidpassword.ToFullString());
                @Html.Raw("<br>");
            }
        </p>
    </div>
</div>